.footer {
    width: 100%;
}

.foot-content {
    --bs-gutter-x: 0;
    padding-bottom: 1.5%;
    padding-top: 1.5%;
}

.hr-footer, .hr-footer.dark {
    margin: 0;
}

.hr-footer {
    box-shadow: rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.hr-footer.dark {
    box-shadow: rgba(255, 255, 255, 0.5) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.pro-foot {
    font-size: 1.7rem;
    font-weight: 600;
}

.foot-text {
    text-align: justify;
}

.foot-link {
    text-decoration: none;
    color: var(--button-text-color);
}

.foot-link.dark {
    color: var(--button-text-color);
}