@import url('css/home.css');
@import url('css/footer.css');
@import url('css/header.css');
@import url('css/media.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {

  --color01:#000000;
  --color02:#00d2ff;
  --color03:#08859d;
  --color04:#0d6fed;
  --color05:#0dcaf0;
  --color06:#12b1d4;
  --color07:#222831;
  --color08:#393e46;
  --color09:#3a7bd5;
  --color10:#684ce6;
  --color11:#854ce6;
  --color12:#9eeaf9;
  --color13:#ff0000;
  --color14:#ffffff;
  
}