@import url('css/home.css');
@import url('css/footer.css');
@import url('css/header.css');
@import url('css/media.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.light {
  --button-bg-color: #9eeaf9;
  --button-text-color: #333333;
  --button-text-color1: #ffffff;
  --button-text-color2: #0d6efd;
}

.dark {
  --button-bg-color: #333333;
  --button-text-color: #ffffff;
  --button-text-color1: #333333;
  --button-text-color2: #0d6efd;
}

:root {
  --button-bg-color: #9eeaf9;
  --button-border-color: #ff0000;
  --button-text-color: #ff0000;
  --button-hover-border-color: #9eeaf9;
  --button-hover-bg-color: #ff0000;
  --button-hover-text-color: #ffffff;

  --dark-button-bg-color: #ffffff;
  --dark-button-border-color: #333333;
  --dark-button-text-color: #333333;
  --dark-button-hover-border-color: #ffffff;
  --dark-button-hover-bg-color: #333333;
  --dark-button-hover-text-color: #ffffff;

  --submit-bg-color: #0d6fed;
  --submit-border-color: #0d6fed;
  --submit-text-color: #ffffff;
  --submit-hover-border-color: #0d6fed;
  --submit-hover-bg-color: #9eeaf9;
  --submit-hover-text-color: #0d6fed;

  --dark-submit-bg-color: #333333;
  --dark-submit-border-color: #ffffff;
  --dark-submit-text-color: #ffffff;
  --dark-submit-hover-border-color: #333333;
  --dark-submit-hover-bg-color: #ffffff;
  --dark-submit-hover-text-color: #333333;
}