@import url('css/home.css');
@import url('css/footer.css');
@import url('css/header.css');
@import url('css/media.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.light {
  --button-bg-color: #bae7f5;
  --button-text-color: #333;
}

.dark {
  --button-bg-color: #333;
  --button-text-color: #fff;
}